name: CI
on:

  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
    types: [opened, synchronize]
    branches:
      - main

jobs:

  build:
    name: vet  and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    env:

    steps:

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 'stable'
      id: go

    - name: Check out code
      uses: actions/checkout@v5
      with:
        fetch-depth: 1

    - name: Install dependencies (Windows)
      if: matrix.os == 'windows-latest'
      run: |
#        choco install -y make sed
#        choco install -y pandoc

    - name: Install dependencies (macOS)
      if: matrix.os == 'macos-latest'
      run: |
#        brew install pandoc
        
    - name: Install dependencies (Linux/Ubuntu)
      if: matrix.os == 'ubuntu-latest'
      run: |
#        sudo apt update
#        sudo apt install -y pandoc

    - name:  lint the code
      run: make vet
      shell: bash

    - name:  run unit tests
      run: make test
      shell: bash

